# React Native
node_modules/
npm-debug.log
yarn-error.log
.env
*.iml
.idea/
.vscode/
Pods/
*.podspec
*.xcworkspace
*.xcodeproj
*.hmap
*.ipa
*.apk
*.jks

# Android/IntelliJ
android/.gradle/
android/app/build/
android/build/
android/gradle/
android/local.properties
android/app/.cxx
*.keystore

# iOS
ios/Pods/
ios/DerivedData/
ios/build/
ios/*.xcodeproj/
ios/*.xcworkspace
ios/*.xcuserstate
ios/xcuserdata/

# Fastlane
fastlane/report.xml
fastlane/screenshots/
fastlane/test_output/
fastlane/Preview.html

# Metro
.expo/
.expo-shared/
packager-info.json
react-native-debugger.json
index.android.bundle
index.ios.bundle

# Misc
.DS_Store
*.swp
*.swo
*.orig
*.log

# Buck
.buckconfig
.buckd/
buck-out/
\.buckd/
TARGETS

# Jest
coverage/
jest-test-results.json

# Detox
artifacts/

# Mac
*.DS_Store
